@media screen and (min-width: 768px) {
	#mmodal .modal-dialog  {width:550px;}
}
#main_div{
   display:block;
   position: relative;
   float:left;
   left: 12%;
   width:71%;
   height:800px;
   margin-left:15px;
}
#menu_div{ 
   position: absolute;
    float:left;
    width:12%;
    padding-left: 2px;
    margin:0px;
}
#menu2_div{ 
    position: relative;
    float:right;
    width: 15%;
    padding-right: 2px;
    margin: 0px;
}
/*------------------------- nav div / menu div --------------------------------------*/ 
#mmodal ul{
   margin-bottom: 15px;
}
.myaccordion .panel-heading{ 
    padding: 5px 5px 5px 5px;
}
.myaccordion .panel-body, .myaccordion .list-group, .myaccordion .panel-body input, .myaccordion .panel-heading input, 
.divShow .list-group, .divShow .list-group input{
   padding: 0px !important;
   margin: 0px !important;
}
.myaccordion .list-group-item, .divShow .list-group-item, .divShow .option-name  {
   padding: 0px !important;
   margin: 0px !important;
   border: 1px solid transparent;
}
#accordionMod .list-group-item  {
   padding: 0px 0px 0px 50px !important;
}
#accordionMod{
   max-height: 355px;
   height: 35%;
   overflow-y: scroll;
}

#accordionMod .panel-heading a{ 
    text-decoration: none;
}
#accordionMod .panel-group{ 
    margin-bottom: 5px;
}

/*------------------------- main div --------------------------------------*/ 
#explainSql, #sendSql, #showProcessList, #showHelp{
   margin-left: 15px;
}

/*------------------------- menu2 div -------------------------------------*/ 
#btnAddItem, #addItem{
   margin-bottom: 10px;
}
#accordionA .panel-body {
   padding: 5px;
}
#accordionA .list-group {
   margin: 0px ;
}
#accordionA .list-group-item {
   padding-top: 5px;
   padding-bottom: 5px;
   border: 1px solid transparent;
}

.divShow .panel-heading {
   padding-top: 0px;
   padding-bottom: 0px;
}
.divShow .panel-body{
   padding: 10px 15px 8px 15px;
}
.divShow .form-control {
   width: 100%;
}
#navHelp{
   width: 100%;
}
#divExpainHelp{
   max-height: 155px;
   height: 15%;
   overflow-y: scroll;
}
.divMsgDb, .divExplainError, .divSelectDb, #resultShow2{
   display: none;
}
#showMoreTab{
   margin-top: 10px;
}
#divShow, #navHelp, #navProcList, #navBottom, #showProcessList{
   display: none;
}