.table{font-size:12px;}
.table tr, .table td {
   padding: 2px !important;
   margin: 0px !important;
}
.table td { border-left: 1px solid #000; }
.table tr:nth-child(even) { background: #ddd }/* #ddd  en gris, #DFF0D8 verde darkly ,  #F5F5F5 cosmo    */
.table tr:nth-child(odd) { background: #fff}
.table-hover tbody tr:hover td {background: #464545;color: #fff;}
/*.table-hover tbody tr:hover td {background: #ffff99;color: #000;}*/